<div [ngClass]="{
                'alert-success':isLoved === true,
                'alert-danger':isLoved === false
                }">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ post.title }}</h5>
    <small>{{ post.created_at }}</small>
  </div>
  <p class="mb-1">{{ post.content }}</p>
  <span class="pull-right">
                  <img src="{{ post.imagePath }}" alt="" class="img-responsive" style="max-height: 200px;">
                </span>
  <div class="row>">
    {{ post.loveIts }}
    <button type="button" class="btn btn-success" (click)="onLikeClick()">Love it !</button>
    <button type="button" class="btn btn-danger" (click)="onDislikeClick()">Don't love it !</button>
  </div>
</div>
